{%extends 'all-photos/base.html'%}
{% load static%}
{% load bootstrap3 %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/current.css' %}">
{% endblock %}

{% block content %}
{{block.super}}
<div class="container">
  <div class="row">
    <!-- Looping through news   -->
    {% for photos_item in photos %}

    
      <div class="col-md-4 photo ">
        <img src="{{photos_item.image.url}}" class="img-responsive" data-toggle="modal" data-target="#myModal"
          style="width: 300px; height: 200px;" alt="Image">
      </div>
   

    {% empty %}
    <div class="row">
      <h2 class="text-center">There No Upload Items</h2>
    </div>
    {% endfor %}

    {% for photos_item in photos %}
  </div>
     <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Image Details</h4>
            </div>
            <div class="modal-body">
              <p>{{photos_item.Details}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
</div>
{% endfor %}
{% endblock %}